<% if params[:question].downcase == "i am going to work right now!" %>
<h1><%= params[:question] %></h1>
<h2><%= "" %></h2>
<% elsif params[:question].end_with?("?")  %>
<h1><%= params[:question] %></h1>
<h2><%= "Silly question, get dressed and go to work!" %></h2>
<% else %>
<h1><%= params[:question] %></h1>
<h2><%= "I don't care, get dressed and go to work!" %></h2>
<% end %>
<h2><%= link_to "Proposer une nouvelle question", "ask" %></h2>
